@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
}

<div class="hero-unit">
    <h1 class="intro">Ready to connect</h1>
    <p class="lead">Looking for the best of hands to work with? Then you are in the right place!</p>
    <p><a href="/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>Getting started</h2>
        <p>CraftsHub basically gives you access to skilled artisans shrouded in the dark, it empowers you to search for skilled workers 
            based on <b><em>location</em></b> and <b><em>expertise</em></b> just from your device. All you have to do is <a href="/Registration/Register">Sign up</a> with us 
            then you are ready to connect.</p>
        <p><a class="btn" href="/">Learn more &raquo;</a></p>
    </div>
    
    <div class="span4">
        <h2>Assemble Team</h2>
        <p>This feature enables you to bring together good and willing skilled hands that will give you that satisfaction you have always longed for.</p>
        <p><a class="btn" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn" href="/">Learn more &raquo;</a></p>*@
    </div>
</>

